<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Default Test">
  <classes>
  <class name ="com.demoaut.newtours.Testscripts.BookTicketTest"></class>
   <class name ="com.demoaut.newtours.Testscripts.InvalidUser"></class>
    <class name ="com.demoaut.newtours.Testscripts.ValidateUser"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
